$primary-color: #ecc30d;
$main-white: #fff;
$main-black: #0d1317;
$secondary-black: #474747;
$main-grey: rgb(221, 216, 216);
$black-trans: rgba(0, 0, 0, 0.3);
$secondary-black-trans: rgba(0, 0, 0, 0.6);
$secondary-grey: #374048;

/************************************ GLOBAL SITE TITLES **********************************/
.site-titles {
  color: $primary-color;
}

/************************************ GLOBAL MIXINs **************************************/
@mixin easeIn {
  transition: all 0.5s ease-in;
}

@mixin easeInOut {
  transition: all 1s ease-in-out;
}

@mixin astronomyEaseIn {
  transition: transform 2s;
}
