@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import 'config';

/********************************** PAGE RESETS *************************************/
html {
  scroll-behavior: smooth;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;

  /* Next three lines of code are for sticky footer */
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

/******************************** NAVBAR SECTION ************************************/

.navbar {
  position: fixed;
  width: 100%;
  z-index: 1;
  background: $secondary-grey !important;

  .navbar-toggler {
    border: 1px solid $primary-color !important;

    &:active {
      border: 1px solid $primary-color !important;
    }
  }

  .navbar-toggler-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .fa.fa-bars {
    color: $primary-color !important;
  }

  .navbar-brand {
    color: $primary-color !important;
    font-weight: bold;
    font-size: 1.8rem;
  }

  #myNavbar li {
    padding: 0 15px;
    font-weight: normal;
  }

  #myNavbar a {
    color: $main-white !important;
    text-transform: uppercase;
    font-size: 0.8rem;
  }

  #myNavbar a:hover {
    color: $primary-color !important;
    @include easeIn();
  }

  .dropdown-menu {
    background-color: $secondary-grey !important;

    a:hover {
      background-color: lighten($secondary-grey, 10%);
    }
  }

  .btn-search {
    border: 2px solid $primary-color;
    color: $primary-color;

    &:hover {
      background-color: $main-white;
      border-color: $secondary-black;

      outline: none;
    }
  }
}

/******************************** SHOWCASE SECTION ************************************/
.max-height {
  min-height: calc(100vh);

  // Create a yellow overlay
  // background: linear-gradient($black-trans, $black-trans),
  // url('/images/landing.jpg');
  // background-position: center;
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-attachment: fixed;
  // z-index: 2;
}

.showcase {
  color: $main-white;
  margin-top: -4rem;

  .showcase-link {
    font-size: 1.5rem;
    color: $main-white;
    border: 0.2rem solid $primary-color;
    border-radius: 50%;
    padding: 5px 30px;

    &:hover {
      background: $secondary-black;
      color: $primary-color;
    }
  }
}
